body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Update time block colors */
.past {
  background-color: #f8d7da; /* Light red for past */
  color: #721c24; /* Dark text for past */
}

.present {
  background-color: #ae45c3; /* Light yellow for present */
  color: #856404; /* Dark text for present */
}

.future {
  background-color: #096920; /* Light green for future */
  color: #155724; /* Dark text for future */
}

/* Enhance save button styling */
.saveBtn {
  background-color: #007bff; /* Blue background color for save button */
  color: white; /* White text color for save button */
}

/* Hover effect for save button */
.saveBtn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

